[unit]
Description=Tomcat 10 servlet container 
After=network.target

[Service]
Type=forking
User=tomcat
Group=tomcat
Environment="JAVA_OPTS=-Djava.security.egd=file:///dev/urandom"
Environment="CATALINA_BASE="{{ tomcat_dir }}""
Environment="CATALINA_HOME=/opt/"{{ tomcat_dir }}""
Environment="CATALINA_PID=/opt/"{{ tomcat_dir }}"/temp/tomcat.pid"
Environment="CATALINA_OPTS=-Xms512M -Xmx1024M -server -XX:+UseParallelGC"
ExecStart=/opt/"{{ tomcat_dir }}"/bin/startup.sh
ExecStop=/opt/"{{ tomcat_dir }}"/bin/shutdown.sh

[Install]
WantedBy=multi-user.target