<VirtualHost *:80>

ServerName localhost

    <Proxy balancer://{{ name_cluster }}>

        BalancerMember {{ Rocky }}
        BalancerMember {{ ubuntu }}

    </Proxy>

    ProxyPreserveHost On

    ProxyPass / balancer://{{ name_cluster }}/
    ProxyPassReverse / balancer://{{ name_cluster }}/

</VirtualHost>